@import '../mixin';
@import '../variables';

.footer {

    padding-top: 90px;
    position: relative;
    padding-bottom: 10px;
    background-color: $light_black;


    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 12px;
        bottom: 33px;
        background-image: url(../img/wavy-line.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__bottom-mobile {
        display: none;
    }





    &__wrap {
        display: flex;
        justify-content: space-between;
        padding-bottom: 114px;
    }

    &__left {
        width: 100%;
    }

    &__logo-link {
        display: inline-block;
        margin-bottom: 18px;
        outline: none;
    }

    &__logo-img {}

    &__social-list {
        @include list-reset;
        display: flex;
        gap: 20px;
    }

    &__social-link {
        @include link-reset;
        outline: none;
        fill: $shade_gray;
        transition: fill .4s linear;

        svg {
            fill: inherit;

        }

        &:hover {
            fill: $primary;
        }

        &:focus-visible {
            fill: $primary_light;
        }

        &:active {
            fill: $primary_shade;
        }
    }

    &__nav-list {
        @include list-reset;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px 108px;
    }

    &__nav-item {
        width: calc((100% - 180px) / 3);


        &:nth-child(3n) {
            margin: 0;
        }
    }

    &__nav-link {
        @include link-reset;
        @include Muller-Regular;
        @include text-16px-100percent;
        display: inline-block;
        color: $white;
        transition: color .4s linear, background .4s linear;

        &:hover {
            color: $primary;
        }

        &:focus-visible {
            outline: none;
            color: $white;
            background-color: $primary_light;
        }

        &:active {
            background: none;
            color: $primary_shade;
        }
    }

    &__copyright-wrap {
        display: flex;
        justify-content: center;
    }

    &__copyright-text {
        @include Muller-Regular;
        @include text-16px-100percent;
        display: flex;
        align-items: center;
        text-align: center;
        color: $text_gray;
    }
}

@media (max-width: 992px) {
    .footer {
        &__wrap {
            flex-wrap: wrap;
            padding-bottom: 101px;
        }

        &__left {
            margin-bottom: 80px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__logo-link {
            margin-bottom: 20px;
        }

        &__list-wrap {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        &__social-list {
            gap: 23px;
        }

        &__social-link {
            svg {
                display: block;
                width: 33px;
                height: auto;
            }
        }

        &__right {
            width: 100%;
        }

        &__nav-list {
            gap: 31px 158px;
        }
    }
}

@media (max-width: 599px) {
    .footer {
        padding-top: 54px;

        &__nav-list {
            gap: 20px 60px;
        }
    }
}

@media (max-width: 424px) {
    .footer {
        &__right {
            display: none;
        }

        &__left {
            margin: 0;
        }

        &__wrap {
            padding-bottom: 50px;
        }

        &__bottom-mobile {
            display: block;
            margin-bottom: 30px;
            padding: 30px 0;
            background-color: $black;
        }

        &__nav-list {
            gap: 20px 30px;
            grid-template-columns: 1fr 1fr;
        }

        &__nav-item {
            margin: 0;
            width: calc(50% - 12px);
        }
    }
}