<section class="about" id="about">
    <div class="container">
        <div class="about__top">
            <h2 class="about__title">О нас</h2>
            <p class="about__selection">Приём-приём! Как слышно? Мы уже в эфире? Отлично, поехали!</p>
            <p class="about__text">
                Друзья, мы будем очень рады, если вы поможете стать нам лучше. Нам важен каждый слушатель, поэтому
                вы можете поделиться обратной связью о наших предеачах, темах, подборках и вообще обо всём! Это можно
                сделать либо написав нам в форме ниже, либо кликнув на наши соцсети в подвале сайта. Спасибо!
                Услышимся!:)
            </p>
        </div>

    </div>
    <div class="about__guest container">
        <!-- Slider main container -->
        <div class="about__guest-wrap">
            <div class="about__swiper swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="about__guest-card swiper-slide">
                        <picture>
                            <source srcset="./assets/img/about-Dmitry-Gutenberg-photo-1199px.jpg" media="(max-width:1199px) and (min-width:993px)">
                            <img src="./assets/img/about-Dmitry-Gutenberg-photo-desctop.jpg" alt="Фото гостя"
                                class="about__guest-photo">
                        </picture>

                        <div class="about__guest-box">
                            <h3 class="about__guest-title">
                                Дмитрий Гутенберг
                            </h3>
                            <p class="about__guest-text">
                                Эксперт (ну, почти) по всем вопросам (почти)
                            </p>
                        </div>
                    </div>
                    <div class="about__guest-card swiper-slide">
                        <picture>
                            <source srcset="./assets/img/about-Anna-Vasileva-1199px.jpg" media="(max-width:1199px) and (min-width:993px)">
                            <img src="./assets/img/about-Anna-Vasileva-desctop.jpg" alt="Фото гостя"
                                class="about__guest-photo">
                        </picture>

                        <div class="about__guest-box">
                            <h3 class="about__guest-title">
                                Анна Васильева
                            </h3>
                            <p class="about__guest-text">
                                Как я здесь оказалась? А главное — зачем?
                            </p>
                        </div>
                    </div>
                    <div class="about__guest-card swiper-slide">
                        <picture>
                            <source srcset="./assets/img/about-Petr-Dmitrievski-1199px.jpg" media="(max-width:1199px) and (min-width:993px)">
                            <img src="../assets/img/about-Petr-Dmitrievski-desctop.jpg" alt="Фото гостя"
                                class="about__guest-photo">
                        </picture>

                        <div class="about__guest-box">
                            <h3 class="about__guest-title">
                                Пётр Дмитриевский
                            </h3>
                            <p class="about__guest-text">
                                Господа! Внимание! Благодарю за внимание!
                            </p>
                        </div>
                    </div>
                    <div class="about__guest-card swiper-slide">
                        <picture>
                            <source srcset="./assets/img/about-Tatyana-Fleganova-1199px.jpg" media="(max-width:1199px) and (min-width:993px)">
                            <img src="./assets/img/about-Tatyana-Fleganova-desctop.jpg" alt="Фото гостя"
                                class="about__guest-photo">
                        </picture>

                        <div class="about__guest-box">
                            <h3 class="about__guest-title">
                                Татьяна Флеганова
                            </h3>
                            <p class="about__guest-text">
                                Одна я в пальто стою красивая, а вокруг…
                            </p>
                        </div>
                    </div>
                    <div class="about__guest-card swiper-slide">
                        <picture>
                            <source srcset="./assets/img/about-Fedor-Prochorov-1199px.jpg" media="(max-width:1199px) and (min-width:993px)">
                            <img src="./assets/img/about-Fedor-Prochorov-desctop.jpg" alt="Фото гостя"
                                class="about__guest-photo">
                        </picture>

                        <div class="about__guest-box">
                            <h3 class="about__guest-title">
                                Фёдор Прокопьев
                            </h3>
                            <p class="about__guest-text">
                                Привет! Я фотограф, музыкант, ведущий
                            </p>
                        </div>
                    </div>
                    <div class="about__guest-card swiper-slide">
                        <picture>
                            <source srcset="./assets/img/about-Svetlana_Kortyaeva-1199px.jpg" media="(max-width:1199px) and (min-width:993px)">
                            <img src="./assets/img/about-Svetlana_Kortyaeva-desctop.jpg" alt="Фото гостя"
                                class="about__guest-photo">
                        </picture>

                        <div class="about__guest-box">
                            <h3 class="about__guest-title">
                                Светлана Кортнева
                            </h3>
                            <p class="about__guest-text">
                                Художник-оформитель. Оформляю
                            </p>
                        </div>
                    </div>
                </div>


                <!-- Swiper navigation buttons -->

            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

    </div>



    <div class="container">
        <div class="about__feedback">
            <form action="#" class="about__feedback-form" id="about-form" aria-label="Оставь нам сообщение">
                <div class="about__feedback-wrap">
                    <div class="about__feedback-top">
                        <div class="about__feedback-textarea-box">
                            <textarea data-valid-len="6" class="about__feedback-textarea" name="text" id="" cols="30" rows="10" maxlength="350"
                            placeholder="Что скажете?" aria-label="Введите свое сообщение"></textarea>
                        </div>
                       
                    </div>
                    <div class="about__feedback-bottom">
                        <div class="about__feedback-input-box">
                            <input  data-valid-name="True" data-valid-len="2" type="text" name="text" id="about-form--name" class="about__feedback-input"
                                placeholder="Имя" aria-label="Оставь свое имя">
                        </div>
                        <div class="about__feedback-input-box">
                            <input data-valid-email="True" type="text" name="email" id="about-form-email" class="about__feedback-input"
                                placeholder="Email" aria-label="Оставь свою почту">
                        </div>
                    </div>
                    <button class="about__feedback-btn" aria-label="Кнопка отправки соообщения нам">Отправить</button>
                    <label for="feedback-checkbox" class="about__feedback-checkbox" tabindex="0">
                        <input data-valid-checkbox="True" type="checkbox" name="" id="feedback-checkbox" class="about__feedback-checkbox-original" aria-label="Согласие на обработку данных">
                        <span class="about__feedback-checkbox-custom">Согласен на обработку персональных данных</span>
                    </label>

                </div>

            </form>
        </div>
    </div>

</section>