<section class="broadcasts" id="broadcasts">
    <div class="container">

        <div class="broadcasts__wrap">
            <div class="broadcasts__top">
                <h2 class="broadcasts__title">
                    Передачи
                </h2>
                <span class="broadcasts__author">Автор:</span>
                <select name="#" id="#" class="broadcasts__select js-choice-1">
                    <option value="#">Дмитрий Гутенберг</option>
                    <option value="#">Татьяна Флеганова</option>
                    <option value="#">Анна Васильева</option>
                    <option value="#">Пётр Дмитриевский</option>
                </select>
            </div>

            <div class="broadcasts__left">
                <h2 class="broadcasts__title">
                    Передачи
                </h2>
                <span class="broadcasts__author">Автор:</span>
                <select name="#" id="#" class="broadcasts__select js-choice-2">
                    <option value="#">Дмитрий Гутенберг</option>
                    <option value="#">Татьяна Флеганова</option>
                    <option value="#">Анна Васильева</option>
                    <option value="#">Пётр Дмитриевский</option>
                </select>

                <div class="broadcasts__archive-wrap">
                    <button class="broadcasts__archive-btn">Архив</button>
                    <p class="broadcasts__archive-text">В архив попадают все передачи, которые вы пропустили! Enjoy:)
                    </p>
                </div>
            </div>

            <div class="broadcasts__right">
                <ul class="broadcasts__list">
                    <li class="broadcasts__item">
                        <picture class="broadcasts__item-img">
                            <source srcset="./assets/img/people-and-books-mobile.jpg" media="max-width:424px">
                            <img src="./assets/img/people-and-books-desctop.jpg" alt="Картинка старой типографии">
                        </picture>
                        <div class="broadcasts__item-wrap">
                            <div class="broadcasts__item-descr-wrap">
                                <h3 class="broadcasts__item-title">
                                    О&nbsp;людях и&nbsp;книгах
                                </h3>
    
                                <p class="broadcasts__item-schedule">
                                    Анонсируется отдельно
                                </p>
                               
                            </div>
                            <a href="#" class="broadcasts__item-more">
                                Подробнее
    
                                <svg class="broadcasts__item-more-icon" width="28" height="12" viewBox="0 0 28 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z"
                                         />
                                </svg>
    
                            </a>
                        </div>
                       
                    </li><li class="broadcasts__item">
                        <picture class="broadcasts__item-img">
                            <img src="./assets/img/broadcasts-grafomania.jpg" alt="На столе стоит пегас в клетке, а злой мужчина печатает на печатной машинке">
                        </picture>
                        <div class="broadcasts__item-wrap">
                            <div class="broadcasts__item-descr-wrap">
                                <h3 class="broadcasts__item-title">
                                    Графомания td
                                </h3>
    
                                <p class="broadcasts__item-schedule">
                                    По&nbsp;понедельникам в&nbsp;10:00
                                </p>
                               
                            </div>
                            <a href="#" class="broadcasts__item-more">
                                Подробнее
    
                                <svg class="broadcasts__item-more-icon" width="28" height="12" viewBox="0 0 28 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z"
                                         />
                                </svg>
    
                            </a>
                        </div>
                       
                    </li><li class="broadcasts__item">
                        <picture class="broadcasts__item-img">
                            <img src="./assets/img/broadcasts-Coliseum.jpg" alt="Картинка колезея и статуй греческих философов">
                        </picture>
                        <div class="broadcasts__item-wrap">
                            <div class="broadcasts__item-descr-wrap">
                                <h3 class="broadcasts__item-title">
                                    Не&nbsp;Рим, не&nbsp;Троя
                                </h3>
    
                                <p class="broadcasts__item-schedule">
                                    По&nbsp;вторникам в&nbsp;12:00
                                </p>
                               
                            </div>
                            <a href="#" class="broadcasts__item-more">
                                Подробнее
    
                                <svg class="broadcasts__item-more-icon" width="28" height="12" viewBox="0 0 28 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z"
                                         />
                                </svg>
    
                            </a>
                        </div>
                       
                    </li><li class="broadcasts__item">
                        <picture class="broadcasts__item-img">
                            <img src="./assets/img/broadcasts-erudite.jpg" alt="Картинка лица мужчины c надписью практичность">
                        </picture>
                        <div class="broadcasts__item-wrap">
                            <div class="broadcasts__item-descr-wrap">
                                <h3 class="broadcasts__item-title">
                                    Эрудит
                                </h3>
    
                                <p class="broadcasts__item-schedule">
                                    По&nbsp;пятницам в&nbsp;17:00
                                </p>
                               
                            </div>
                            <a href="#" class="broadcasts__item-more">
                                Подробнее
    
                                <svg class="broadcasts__item-more-icon" width="28" height="12" viewBox="0 0 28 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z"
                                         />
                                </svg>
    
                            </a>
                        </div>
                       
                    </li><li class="broadcasts__item">
                        <picture class="broadcasts__item-img">
                            <img src="./assets/img/broadcasts-ages.jpg" alt="Картинка заяц с улиткой на лапе верхом на гончей собаке с языком дракона">
                        </picture>
                        <div class="broadcasts__item-wrap">
                            <div class="broadcasts__item-descr-wrap">
                                <h3 class="broadcasts__item-title">
                                    Тонкости эпох
                                </h3>
    
                                <p class="broadcasts__item-schedule">
                                    По&nbsp;субботам в&nbsp;10:00
                                </p>
                               
                            </div>
                            <a href="#" class="broadcasts__item-more">
                                Подробнее
    
                                <svg class="broadcasts__item-more-icon" width="28" height="12" viewBox="0 0 28 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z"
                                         />
                                </svg>
    
                            </a>
                        </div>
                       
                    </li><li class="broadcasts__item">
                        <picture class="broadcasts__item-img">
                            <img src="./assets/img/broadcasts-living-thoughts.jpg" alt="Зарисовка Ёжик на спине">
                        </picture>
                        <div class="broadcasts__item-wrap">
                            <div class="broadcasts__item-descr-wrap">
                                <h3 class="broadcasts__item-title">
                                    Живые мысли
                                </h3>
    
                                <p class="broadcasts__item-schedule">
                                    По&nbsp;воскресеньям в&nbsp;15:30
                                </p>
                               
                            </div>
                            <a href="#" class="broadcasts__item-more">
                                Подробнее
    
                                <svg class="broadcasts__item-more-icon" width="28" height="12" viewBox="0 0 28 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M24.3536 6.35355C24.5488 6.15829 24.5488 5.84171 24.3536 5.64645L21.1716 2.46447C20.9763 2.2692 20.6597 2.2692 20.4645 2.46447C20.2692 2.65973 20.2692 2.97631 20.4645 3.17157L23.2929 6L20.4645 8.82843C20.2692 9.02369 20.2692 9.34027 20.4645 9.53553C20.6597 9.7308 20.9763 9.7308 21.1716 9.53553L24.3536 6.35355ZM4 6.5H24V5.5H4V6.5Z"
                                         />
                                </svg>
    
                            </a>
                        </div>
                       
                    </li>
                </ul>
            </div>

            <div class="broadcasts__bottom">
                <div class="broadcasts__archive-wrap">
                    <button class="broadcasts__archive-btn">Архив</button>
                    <p class="broadcasts__archive-text">В архив попадают все передачи, которые вы пропустили! Enjoy:)
                    </p>
                </div>
            </div>

        </div>


    </div>

</section>