<section class="playlists" id="playlists">
    <div class="container">
        <div class="playlists__wrap">
            <div class="playlists__left">
                <div class="playlists__left-top">
                    <h2 class="playlists__title">Плейлисты</h2>
                    <div class="playlists__filter">
                        <span class="playlists__filter-name">
                            Жанр
                        </span>

                        <div class="playlists__filter-list">
                            <div class="playlists__filter-left">
                                <label for="checkbox-1" class="playlists__filter-item" tabindex="0">
                                    <input type="checkbox" name="" id="checkbox-1" class="playlists__filter-checkbox"
                                        checked>
                                    <span class="playlists__filter-checkbox-custom"> Постпанк</span>
                                </label>


                                <label for="checkbox-2" class="playlists__filter-item" tabindex="0">
                                    <input type="checkbox" name="" id="checkbox-2" class="playlists__filter-checkbox">

                                    <span class="playlists__filter-checkbox-custom"> Хардкор</span>
                                </label>


                                <label for="checkbox-3" class="playlists__filter-item" tabindex="0">
                                    <input type="checkbox" name="" id="checkbox-3" class="playlists__filter-checkbox">

                                    <span class="playlists__filter-checkbox-custom"> Панк-рок</span>
                                </label>

                                <label for="checkbox-4" class="playlists__filter-item" tabindex="0">
                                    <input type="checkbox" name="" id="checkbox-4" class="playlists__filter-checkbox">

                                    <span class="playlists__filter-checkbox-custom">Рок</span>
                                </label>
                            </div>

                            <div class="playlists__filter-right">
                                <label for="checkbox-5" class="playlists__filter-item " tabindex="0">
                                    <input type="checkbox" name="" id="checkbox-5" class="playlists__filter-checkbox">

                                    <span class="playlists__filter-checkbox-custom"> Прогрессивный рок</span>
                                </label>
                                <label for="checkbox-6" class="playlists__filter-item " tabindex="0">
                                    <input type="checkbox" name="" id="checkbox-6" class="playlists__filter-checkbox">

                                    <span class="playlists__filter-checkbox-custom">Электронная музыка</span>
                                </label>
                                <label for="checkbox-7" class="playlists__filter-item" tabindex="0">
                                    <input type="checkbox" name="" id="checkbox-7" class="playlists__filter-checkbox">

                                    <span class="playlists__filter-checkbox-custom">Классическая музыка</span>
                                </label>
                                <label for="checkbox-8" class="playlists__filter-item" tabindex="0">
                                    <input type="checkbox" name="" id="checkbox-8" class="playlists__filter-checkbox">

                                    <span class="playlists__filter-checkbox-custom">Звуки природы и&nbsp;шум
                                        города</span>
                                </label>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="playlists__swiper swiper">

                    <div class="playlists__filter-list-mobile swiper-wrapper">
                        <div class="swiper-slide">
                            <label for="checkbox-mobile-1" class="playlists__filter-item-mobile" tabindex="0">
                                <input type="checkbox" name="" id="checkbox-mobile-1" class="playlists__filter-checkbox"
                                    checked>

                                <span class="playlists__filter-checkbox-custom-mobile">Постпанк</span>
                            </label>
                        </div>
                        <div class="swiper-slide">
                            <label for="checkbox-mobile-2" class="playlists__filter-item-mobile" tabindex="0">
                                <input type="checkbox" name="" id="checkbox-mobile-2"
                                    class="playlists__filter-checkbox">

                                <span class="playlists__filter-checkbox-custom-mobile"> Хардкор</span>
                            </label>
                        </div>
                        <div class="swiper-slide">

                            <label for="checkbox-mobile-3" class="playlists__filter-item-mobile" tabindex="0">
                                <input type="checkbox" name="" id="checkbox-mobile-3"
                                    class="playlists__filter-checkbox">

                                <span class="playlists__filter-checkbox-custom-mobile">Панк-рок</span>
                            </label>
                        </div>
                        <div class="swiper-slide">
                            <label for="checkbox-mobile-4" class="playlists__filter-item-mobile" tabindex="0">
                                <input type="checkbox" name="" id="checkbox-mobile-4"
                                    class="playlists__filter-checkbox">

                                <span class="playlists__filter-checkbox-custom-mobile">Рок</span>
                            </label>
                        </div>
                        <div class="swiper-slide">
                            <label for="checkbox-mobile-5" class="playlists__filter-item-mobile" tabindex="0">
                                <input type="checkbox" name="" id="checkbox-mobile-5"
                                    class="playlists__filter-checkbox">
                                <span class="playlists__filter-checkbox-custom-mobile"> Прогрессивный рок</span>
                            </label>
                        </div>
                        <div class="swiper-slide">
                            <label for="checkbox-mobile-6" class="playlists__filter-item-mobile" tabindex="0">
                                <input type="checkbox" name="" id="checkbox-mobile-6"
                                    class="playlists__filter-checkbox">

                                <span class="playlists__filter-checkbox-custom-mobile">Электронная музыка</span>
                            </label>
                        </div>
                        <div class="swiper-slide">
                            <label for="checkbox-mobile-7" class="playlists__filter-item-mobile" tabindex="0">
                                <input type="checkbox" name="" id="checkbox-mobile-7"
                                    class="playlists__filter-checkbox">

                                <span class="playlists__filter-checkbox-custom-mobile">Классическая музыка</span>
                            </label>
                        </div>

                        <div class="swiper-slide">
                            <label for="checkbox-mobile-8" class="playlists__filter-item-mobile" tabindex="0">
                                <input type="checkbox" name="" id="checkbox-mobile-8"
                                    class="playlists__filter-checkbox">

                                <span class="playlists__filter-checkbox-custom-mobile"> Звуки природы и&nbsp;шум
                                    города</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="playlists__left-bottom">
                    <p class="playlists__age-warning">
                        Раздел «Плейлисты» может содержать информацию, не предназначенную для несовершеннолетних
                    </p>
                    <p class="playlists__copyright">
                        &copy;&nbsp;2021&nbsp;l W-Wave
                    </p>
                    <div class="playlists__age">18+</div>
                </div>
            </div>
            <div class="playlists__right">

                <ul class="playlists__group-list">
                    <li class="playlists__group-item">
                        <a href="#" class="playlists__group-link">
                            <img src="./assets/img/playlists-coutry-ru.svg" alt="Страна исполнителя Россия"
                                class="playlists__group-country">
                            <picture>
                                <img src="./assets/img/playlists-ploho--desctop.jpg" alt=""
                                    class="playlists__group-photo">
                            </picture>
                            <div class="playlists__group-box">
                                <h3 class="playlists__group-title">Ploho</h3>
                                <span class="playlists__group-deskr">3 последних альбома</span>
                            </div>
                        </a>

                    </li>
                    <li class="playlists__group-item">
                        <a href="#" class="playlists__group-link">
                            <img src="./assets/img/playlists-coutry-ru.svg" alt="Страна исполнителя Россия"
                                class="playlists__group-country">

                            <picture>
                                <img src="./assets/img/playlists-molchat-doma--desctop.jpg" alt=""
                                    class="playlists__group-photo">
                            </picture>
                            <div class="playlists__group-box">
                                <h3 class="playlists__group-title">Molchat Doma</h3>
                                <span class="playlists__group-deskr">Все песни</span>
                            </div>
                        </a>

                    </li>
                    <li class="playlists__group-item">
                        <a href="#" class="playlists__group-link">
                            <img src="./assets/img/playlists-coutry-ru.svg" alt="Страна исполнителя Россия"
                                class="playlists__group-country">

                            <picture>
                                <img src="./assets/img/playlists-motorama--desctop.jpg" alt=""
                                    class="playlists__group-photo">
                            </picture>
                            <div class="playlists__group-box">
                                <h3 class="playlists__group-title">Motorama</h3>
                                <span class="playlists__group-deskr">Все синглы</span>
                            </div>
                        </a>

                    </li>
                    <li class="playlists__group-item">
                        <a href="#" class="playlists__group-link">
                            <img src="./assets/img/playlists-coutry-ru.svg" alt="Страна исполнителя Россия"
                                class="playlists__group-country">

                            <picture>
                                <img src="./assets/img/playlists-human-tetris--desctop.jpg" alt=""
                                    class="playlists__group-photo">
                            </picture>
                            <div class="playlists__group-box">
                                <h3 class="playlists__group-title">Human Tetris</h3>
                                <span class="playlists__group-deskr">3 последних альбома</span>
                            </div>
                        </a>

                    </li>
                    <li class="playlists__group-item">
                        <a href="#" class="playlists__group-link">
                            <img src="./assets/img/playlists-coutry-ru.svg" alt="Страна исполнителя Россия"
                                class="playlists__group-country">

                            <picture>
                                <img src="./assets/img/playlists-buerak--desctop.jpg" alt=""
                                    class="playlists__group-photo">
                            </picture>
                            <div class="playlists__group-box">
                                <h3 class="playlists__group-title">Буерак</h3>
                                <span class="playlists__group-deskr">Все EP</span>
                            </div>
                        </a>

                    </li>
                    <li class="playlists__group-item">
                        <a href="#" class="playlists__group-link">
                            <img src="./assets/img/playlists-coutry-ru.svg" alt="Страна исполнителя Россия"
                                class="playlists__group-country">

                            <picture>
                                <img src="./assets/img/playlists-july-day--desctop.jpg" alt=""
                                    class="playlists__group-photo">
                            </picture>
                            <div class="playlists__group-box">
                                <h3 class="playlists__group-title">Июльские Дни</h3>
                                <span class="playlists__group-deskr">Альбом «Колокол»</span>
                            </div>
                        </a>

                    </li>
                    <li class="playlists__group-item">
                        <a href="#" class="playlists__group-link">
                            <img src="./assets/img/playlists-coutry-en.svg" alt="Страна исполнителя Британия"
                                class="playlists__group-country">
                            <picture>
                                <img src="./assets/img/playlists-Joy-Division--desctop.jpg" alt=""
                                    class="playlists__group-photo">
                            </picture>
                            <div class="playlists__group-box">
                                <h3 class="playlists__group-title">Joy Division</h3>
                                <span class="playlists__group-deskr">Лучшее за всё время</span>
                            </div>
                        </a>

                    </li>
                    <li class="playlists__group-item">
                        <a href="#" class="playlists__group-link">
                            <img src="./assets/img/playlists-coutry-en.svg" alt="Страна исполнителя Британия"
                                class="playlists__group-country">

                            <picture>
                                <img src="./assets/img/playlists-the-cure--desctop.jpg" alt=""
                                    class="playlists__group-photo">
                            </picture>
                            <div class="playlists__group-box">
                                <h3 class="playlists__group-title">The Cure</h3>
                                <span class="playlists__group-deskr">Лучшее за всё время</span>
                            </div>
                        </a>

                    </li>
                    <li class="playlists__group-item">
                        <a href="#" class="playlists__group-link">
                            <img src="./assets/img/playlists-coutry-en.svg" alt="Страна исполнителя Британия"
                                class="playlists__group-country">

                            <picture>
                                <img src="./assets/img/playlists-the-smiths--desctop.jpg" alt=""
                                    class="playlists__group-photo">
                            </picture>
                            <div class="playlists__group-box">
                                <h3 class="playlists__group-title">The Smiths</h3>
                                <span class="playlists__group-deskr">Период 1984–1988</span>
                            </div>
                        </a>

                    </li>
                    <li class="playlists__group-item">
                        <a href="#" class="playlists__group-link">
                            <img src="./assets/img/playlists-coutry-en.svg" alt="Страна исполнителя Британия"
                                class="playlists__group-country">

                            <picture>
                                <img src="./assets/img/playlists-new-order--desctop.jpg" alt=""
                                    class="playlists__group-photo">
                            </picture>
                            <div class="playlists__group-box">
                                <h3 class="playlists__group-title">New Order</h3>
                                <span class="playlists__group-deskr">Хиты</span>
                            </div>
                        </a>

                    </li>
                    <li class="playlists__group-item">
                        <a href="#" class="playlists__group-link">
                            <img src="./assets/img/playlists-coutry-en.svg" alt="Страна исполнителя Британия"
                                class="playlists__group-country">

                            <picture>
                                <img src="./assets/img/playlists-bauhaus--desctop.jpg" alt=""
                                    class="playlists__group-photo">
                            </picture>
                            <div class="playlists__group-box">
                                <h3 class="playlists__group-title">Bauhaus</h3>
                                <span class="playlists__group-deskr">Все синглы</span>
                            </div>
                        </a>

                    </li>
                    <li class="playlists__group-item">
                        <a href="#" class="playlists__group-link">
                            <img src="./assets/img/playlists-coutry-en.svg" alt="Страна исполнителя Британия"
                                class="playlists__group-country">

                            <picture>
                                <img src="./assets/img/playlists-gang-of-four--desctop.jpg" alt=""
                                    class="playlists__group-photo">
                            </picture>
                            <div class="playlists__group-box">
                                <h3 class="playlists__group-title">Gang Of Four</h3>
                                <span class="playlists__group-deskr">3 последних альбома</span>
                            </div>
                        </a>

                    </li>
                </ul>

            </div>
            <div class="playlists__bottom">
                <p class="playlists__age-warning">
                    Раздел «Плейлисты» может содержать информацию, не предназначенную для несовершеннолетних
                </p>
                <p class="playlists__copyright">
                    &copy;&nbsp;2021&nbsp;l W-Wave
                </p>

                <div class="playlists__age">18+</div>
            </div>

        </div>
    </div>

</section>